@charset "UTF-8";

html {
    height: 100%;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background-color: rgb(19, 17, 17);
    height: 100%;
    margin: 0;
    background-repeat: 0;
    background-attachment: fixed;
}

#MainBlock {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(19, 17, 17, 0.877);
    border-radius: 20px;
    box-shadow: 5px 5px 15px #00000091;
    width: 800px;
    padding: 5px;
}