@charset "UTF-8";

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4D759E;
    background-image: url(../image/All\ Stars\ Blue.png);
    background-attachment: fixed;
    text-align: center;
}

#MainTitle {
    background-color: rgba(245, 222, 179, 0.450);
    margin-left: 400px;
    margin-right: 400px;
    text-decoration: underline;
    border-radius: 30px;
    border: 3px solid black;
    color: #4a5c6d;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.322);
}

#MainBlock {
    background-color: rgba(245, 222, 179, 0.450);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.322);
}

h2 {
    text-decoration: dotted;
    color: darkslateblue;
}

a {
    font-size: 25px;
    color: darkslateblue;
}

img {
    border-radius: 60px;
    border: 3px solid;
    border-color: black;
    margin-top: 5px;
    margin-left: 5px;
}
h1 {
    color: darkslateblue;
}

big {
    color: #3A5874;
}

select {
    margin-top: 5px;
}

button {
    margin-top: 5px;
}

table, th, td, tr {
    border: black solid 1px;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
}

input, button, select {
    border: 2px solid;
    border-color: darkslateblue;
    border-radius: 15px;
}

button {
    margin-bottom: 5px;
}

#inblock {
    color: #4d759e;
}